* {
    background-color: ;
    font: roboto  optional;
    display: fle;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 4rem;
    align-items: center;

}

.logo{
    max-width: 4rem;
    max-height: auto;
    margin: 1rem;
    padding-left: 1rem;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-right: 1rem;
    
  }
li {
    display: inline;
    color: #F9FAF8;
    margin-left: 1rem;
    
}

img {
    max-height: min-content;
    max-width: 300px;
    

}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.level1{
    background-color: #1f2937;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    gap: 1rem;
    
}

.lvl1-p {
    color: #E5E7EB;
    font-size: 18px;
}
.lvl1-button {
    background-color: #3882F6 ;
    border-radius: 8px;
    color: #E5E7EB;
    font-weight: bolder;
    padding: 8px 24px;
}
h1 {
    color: #F9FAF8;
    font-size: 48px ;
    font-weight: bold;
}

.level2 { 
    display: flex;
    background:  ;
    background-color: #F9FAF8;
    padding: 2rem;
    
}

h2 { 
    color: #1f2937;
    background-color: inherit;
}
.lvl2-array {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 52px;background-color: inherit;
}

.text {
    background-color: inherit;
    
}
.pictures {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    height: 100px;
    max-width: 100px;
    border-color: #3882F6;
    border: solid 8px rgb(41, 121, 212);
    border-radius: 1000px;
    padding: 10px;
    background-color: inherit;

}

.level3 {
    background: #E5E7EB;
    display: flex;
    padding:  2rem;

}

.quote {
    background: inherit;
    font-size: 36px;
    font-style: light italic;
    color: #1f2937;
}

.king {
    padding-top: -1rem;
    font-weight: bolder;
    font-style: oblique;
    font-size: 32px;
    background: inherit;
}

.level4  {
    display: flex;
    align-items: center;
    justify-content: center;
    background:#F9FAF8;
    padding: 2rem;
}

.call-to-action {
    background: inherit;
    background-color: #3882F6;
    color: #E5E7EB;
    padding: 1rem 3rem;

}
h3 {
    font-weight: bold;
    font-size: large;
}
.lvl4-button  {
    background-color: #3882F6 ;
    border-radius: 8px;
    border-color: #F9FAF8;
    color: #E5E7EB;
    font-weight: bolder;
    padding: 8px 24px;
}

footer {
    display: flex;
    background: #1f2937;
    padding: 1rem;
}